.container {
margin: 0 ;
width: 90%;
height: 700px;
background-color:black;
position: relative;
z-index: 1;
}

.box {
width: 35%;
height: 260px;
position: absolute;
}

#red {
background-color: red;
z-index: 2;
left: 0;
top: 0;
}

#green {
background-color: green;
z-index: 3;
top: 180px;
left: 160px;
}


#blue {
background-color: cyan;
top: 50px;
left: 350px;
z-index: 4;
}

#red, #green, #blue {
    font-size: 40px;
}

